.lineChartDiv {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.lineChart {
  width: 80%;
  height: 400px;
  max-height: 400px;
}
.reportLink li {
  background-color: #152588;
  color: white;
}
main {
  padding: 48px 16px 48px 16px;
}
@media screen and (max-width: 600px) {
  .lineChartDiv {
    height: 260px;
    width: 90vw;
  }
}
