.note {
  font-size: 14px;

  margin: 8px 0px 32px 0px;
  padding: 0px 16px 8px 16px;
  border-bottom: 1px solid #ccc;
}
.overview {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px; /* Added gap for better spacing */
}
.dashboardLink li {
  background-color: #152588;
}

.overview div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Centered content within sections */
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  gap: 10px;
}

.overview div p {
  text-align: center;
  font-size: 18px;
  margin-bottom: 8px;
}

.income,
.monthly-saving-target {
  color: #008000; /* Greener color */
}

.expense,
.remain-budget {
  color: #ff4500; /* Reddish color */
}

.income,
.monthly-saving-target {
  border: 2px solid #008000;
}

.expense,
.remain-budget {
  border: 2px solid #ff4500;
}

@media screen and (max-width: 600px) {
  .userName {
    display: none;
  }

  .appName {
    font-size: 16px;
    font-weight: 300;
  }
  .dashboard-header {
    justify-content: center;
    padding-left: 12px;
  }
  .side-navBar {
    display: none;
  }
  .bottom-nav {
    display: flex;
  }
  .overview {
    grid-template-columns: 1fr 1fr; /* Adjust grid for smaller screens */
  }
}
