@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0px;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
header {
  width: 100%;
}
h2 {
  margin: 12px 0px 24px 0px;
}
.addNewExpense {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: #a1a1a1 solid 1px;
}
.div-header {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.addNewExpense div {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  place-items: center;
}
input {
  outline: none;
  padding: 6px 16px;
  font-size: 16px;
  border-radius: 20px;
  border: 1px #424242 solid;
}
label {
  font-size: 16px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}
.addExpense {
  padding: 6px 16px;
  border-radius: 20px;
  border: 1px solid green;
  background-color: green;
  color: white;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 12px;
  cursor: pointer;
}
.expenseNameError,
.amountError {
  font-size: 14px;
  margin: 12px;
}
.dateDiv {
  margin-bottom: 12px;
}
.successMessage {
  font-size: 16px;
  margin: 12px;
}
.prevExpense {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.deleteButton {
  padding: 10px 12px;
  background-color: black;
  color: white;
  border: solid 0px;
  border-radius: 50%;
  cursor: pointer;
}
.deleteButton span {
  font-size: 22px;
}
.listItems {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr 1fr;

  place-items: center;
  padding: 6px 12px;
}
.expenseNameList,
.amountList,
.dateList {
  text-align: center;
}
.addExpense:hover {
  background-color: #228b22;
  border-color: #228b22;
}

.deleteButton:hover {
  background-color: #333;
}
input:focus {
  border-color: green;
  box-shadow: 0 0 5px rgba(0, 255, 0, 0.5);
}
.listItems:nth-child(even) {
  background-color: #f0f0f0;
}
.listItems:nth-child(odd) {
  background-color: #dedede;
}

.listItemHeader {
  padding: 12px 0px;
}
.expenseLink li {
  background-color: #152588;
}
.listHead {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.listHead div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.listHead div span {
  line-height: 0.6;
  cursor: pointer;
}
.prevExpense,
.expenseTable,
.listItems {
  width: 100%;
}
.listItemHeader {
  font-weight: 500;
  font-size: 18px;
}
.dateList p {
  cursor: pointer;
}
.loadMore {
  background-color: #228b22;
  border: #228b22 solid 1px;
  padding: 6px 16px;
  border-radius: 18px;
  font-weight: 500;
  color: white;
  cursor: pointer;
  font-size: 15px;
  margin: 12px 0px 48px 0px;
}
@media screen and (max-width: 600px) {
  .listItems {
    font-size: 14px;
  }
  .loadMore {
    margin-bottom: 96px;
  }
}
