@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #cdf5fd;
}
.navBar {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 16px;
  padding: 16px;
}
a {
  color: white;
  text-decoration: none;
}
.navBar li {
  font-size: 18px;
  padding: 10px 15px;
  background-color: #00a9ff;
  border-radius: 20px;
  font-weight: 400;
  color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.33);
  font-weight: 500;
  text-wrap: nowrap;
}
main {
  padding: 0px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
}
.heading {
  font-size: 32px;
  text-wrap: nowrap;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.appHead {
  display: flex;
  padding: 10px 0px 5px 20px;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.about {
  display: flex;
  flex-direction: column;
  width: 40vw;
  min-width: 320px;
  padding: 28px 28px 28px 28px;
  gap: 12px;
  color: rgb(67, 67, 67);
}
.aboutDetails {
  margin-left: 28px;
}
.appName {
  color: #00a9ff;
}
.infoSection {
  background: url(../images/background.jpeg);
  opacity: 0.9;
  background-size: cover;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.453);
  width: 100vw;
}
@media screen and (max-width: 500px) {
  .navBar li {
    font-size: 16px;
  }
  .heading {
    font-size: 24px;
  }
  .contactUs {
    display: none;
  }
}
